body{
    overflow: hidden;
}
main{
    min-height: calc(100vh - 45px);
    background-color: azure;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
footer{
    margin: 10px;
    text-align: center;
    height: 5vh;
}

#search{
    background-color: aqua;
    width: 100vw;
    height: 40px;
    display: flex;
    gap: 0px;
    justify-content: center;
    /* margin-bottom: 20px; */
}
#search_bar{
    height: 100%;
    width: 20%;
    border-radius: 0;
    border: none;
    border-radius: 10px 0px 0px 10px;
    /* border-bottom: 1px solid black; */
}
#search_type{
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 10px;
    border-radius: 0;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

#options{
    height: fill;
    width: 400px;
    background-color: grey;
    user-select: none;
    padding: 5px;
}
#options h2{
    text-align: center;
    font-size: x-large;
    width: 100%;
}
.option label{
    width: 45%;
}
.option label input{
    margin: 5px;
}

#location label{
    width: 100%;
}

#content{
    /* width: calc(100vw - 16vw); */
    width: calc(100vw - 400px);
    padding: 20px;
    height: fill;
    text-align: center;
    overflow-y: scroll;
}
#items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

}
.item{
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 600px;
    background-color: #d8d2c3;
    border-radius: 10px;
    user-select: none;
    overflow-y: scroll;
}
.item_name{
    font-size: large;
    height: 10%;
}
.item_image{
    color: white;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    background: radial-gradient(circle,rgba(179, 173, 118, 1) 0%, rgba(92, 74, 14, 1) 50%, rgba(23, 19, 6, 1) 97%);
}
.item_desc{
    margin: 10px;
}